<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <link rel="stylesheet" th:href="@{/css/delivery.css}">

</head>


<body>
<header>

    <h1><img id="logo" src="img/Logo.png" alt=""></h1>
    <div>

        <h1 style="font-weight: bold; color: greenyellow; font-family: 'Noto Sans CJK TC Black';
     display: flex; align-items: center">Green Line welcomes, <span id="welcomeField"></span>
        </h1>

    </div>


    <div>
        <nav id="navbar">
            <ol id="navbarList">
                <li id="btnHome">Головна</li>
                <li id="btnAllCar">Каталог автомобілів</li>
                <li id="btnPaymentAndDelivery">Оплата та доставка</li>
                <li id="btnContact">Контакти</li>

            </ol>
        </nav>
    </div>
</header>

<section>
    <div id="main">
        <div class="container">
            <div class="row">
                <form role="form" class="col-md-9 go-right">
                    <h2>Дізнайтеся вартість доставки авто прямо зараз</h2>
                    <h2>Залиште свій номер - і ми розрахуємо вартість </h2>
                    <h2>доставки авто в Україну. Або телефонуйте нам:</h2>
                    <h2>моб.38091111111</h2>
                    <div class="form-group">
                        <input id="name" name="name" type="text" class="form-control" required>
                        <label for="name">Your Name</label>
                    </div>
                    <div class="form-group">
                        <input id="phone" name="phone" type="tel" class="form-control" required>
                        <label for="phone">Primary Phone</label>
                    </div>
                    <div class="form-group">
                        <textarea id="message" name="phone" class="form-control" required></textarea>
                        <label for="message">Message</label>
                    </div>
                </form>
                <p class="bg-success" style="padding:10px;margin-top:20px;clear:both"><small><a href="http://css-tricks.com/float-labels-css/" target="_blank">Link</a> to original article</small></p>
            </div>
        </div>
    </div>







</section>

<footer>

    <div>

        <h1 id="aboutSite">2019. GreenLine - Компанія з продажу електромобілів. Bohdan Renchka and Zoriana Monchyn</h1>
    </div>
</footer>










<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
        integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
        integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous"></script>
<script th:src="@{/js/delivery.js}"></script>

</body>

</html>
